.gaalo {
    color: black;
    text-align: end;
}

.ruaru {
    background-image: url(https://www.gafspfund.org/sites/default/files/inline-images/annie-spratt-1415221-unsplash-600x399.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

#baby {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
}

#babe {
    text-align: center;
}

#BMW {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
}

#MMM {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
}

#www {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
}

#sss {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
}

#LLL {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kaushan Script', cursive;
}