#image1 {
    height: 246px;
    width: 450px;
}

#banner {
    border: 2px solid gold;
    background-image: url(../image/plant4.jpg);
    background-color: rgb(184, 243, 169);
    height: 250px;
}

#banner h1 {
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    border: 2px solid gold;
    border-radius: 5%;
    padding: 50px;
    background-image: url(../image/plant2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 15, 3);
}

input {
    background: transparent;
}

select {
    background: transparent;
}

textarea {
    background: transparent;
}

#choose {
    width: 150px;
    margin-top: 40px;
    border: 2px solid gold;
    margin-left: 40%;
    margin-bottom: 10px;
    text-align: center;
}

#showing {
    display: none;
}

#showing2 {
    display: none;
}

#showing3 {
    display: none;
}

#hidden {
    display: show;
}

#hidden2 {
    display: show;
}

#hidden3 {
    display: show;
}

.clickable {
    cursor: pointer;
}

h4 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: #F2F2F2;
    margin: 1%;
    padding: 1%;
}

nav {
    box-sizing: border-box;
    border: 1px solid #06425C;
    /* border: black;/ */
    color: #06425C;
    background-color: #FFFFFF;
    overflow: auto;
    padding-left: 20px;
    background-image: url('https://bit.ly/3alZCEs');
    background-size: cover;
    background-repeat: no-repeat;
    /* position: sticky; */
    /* position: -webkit-sticky; */
    top: 0;
}

nav a {
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    color: #FFFFFF;
    background-color: grey;
    text-decoration: none;
    margin: 1% 5% 1% 0;
    padding: 1% 5%;
    border-radius: 25px;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    top: 0;
    /* text-transform: uppercase; */
}

.current {
    background-color: #800000;
}

nav a:hover {
    color: #000000;
    border-radius: 0;
}


/* #hom {
    background-image: url(../image/1d4d092471961efd2d00558cd7249de3.png);
    background-repeat: no-repeat;
} */