body {
  background-image: url(../image/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}

.container {
  width: 90%;
  overflow: hidden;
  background: ;
  margin-top: 20px auto
}

p{
  color: black;
}

.thumbnail {
  background-color: blanchedalmond;
  padding: 10px;
}

#more {
  display: none;
}
