
body {
	background-color: #F2F2F2;
	margin: 1%;
	padding: 1%;
	background-image: url('https://bit.ly/2VMdK6b');
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
}

nav {
	box-sizing: border-box;
	border: 1px solid #06425C;
	/* border: black;/ */
	color: #06425C;
	background-color: #FFFFFF;
	overflow: auto;
	padding-left: 20px;
	background-image: url('https://bit.ly/3alZCEs');
	background-size: cover;
	background-repeat: no-repeat;
	/* position: sticky; */
	/* position: -webkit-sticky; */
	top: 0;
}

nav a {
	box-sizing: border-box;
	display: inline-block;
	height: 60px;
	color: #FFFFFF;
	background-color: grey;
	text-decoration: none;
	margin: 1% 5% 1% 0;
	padding: 1% 5%;
	border-radius: 25px;
	/* position: -webkit-sticky; */
	/* position: sticky; */
	top: 0;
	/* text-transform: uppercase; */
}

.current {
    background-color: #800000;
}

nav a:hover {
    color: #000000;
    border-radius: 0;
}

.last {
    text-align: center;
    /* display: block; */
}

.foo {
	display: block;
	background: transparent;
	font-size: 30px;
	font-family: 'Merriweather';
	text-decoration: white;
	color: white;

	text-decoration: white;
	color: white;
	font-size: 30px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
    margin: 20px;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    margin: 20px;
}

.icons {
	background: transparent;
	text-decoration: white;
	color: white;

}


.mySlides {
	display: none;
}

.paragraph {
	font-family: 'Merriweather';
	font-size: 30px;
	text-decoration: white;
	color: white;
}
.styling{
	border-radius: 30px;
  background-color: green;
}
.icons {
	background: transparent;
	text-decoration: white;
	color: white;
}

.mySlides {
	display: none;
}

.paragraph {
	font-family: 'Merriweather';
	font-size: 30px;
	text-decoration: white;
	color: white;
}

.styling {
	border-radius: 30px;
}
body {
  background-image: url(../image/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}
/*.col-md-4 {
  background-image: url(../image/success1.jpeg);
  padding: 5%;
  background-position: 350px 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.success1 {
  
}

.row {
  background-color: aliceblue;
}
*/


.container {
  width: 90%;
  overflow: hidden;
  margin-top: 20px auto
}

.container ul li {
  list-style: none;
  float: left;
  width: 20%; 
  height: 300px;
  background: whitesmoke;
  margin: 40px 40px 0px 55px;
  box-sizing: border-box;


}

.container ul li .title {
  width: 100%;
  height: 10%;
  line-height: 50%;
  background: skyblue;
  text-align: center;

}

p{
  color: black;
  padding: 10px;
}

.thumbnail {
  background-color: blanchedalmond;
  padding: 10px;
}
.thumbnail {
  background-color: blanchedalmond;
  padding: 10px;
}

#more {
  display: none;
}

.opeque {
  background-color: blanchedalmond;opacity: 0.6;
  color: ;
}

body {
  background-color: #F2F2F2;
  margin: 1%;
  padding: 1%;
}
nav {
  box-sizing: border-box;
  border: 1px solid #06425C;
  /* border: black;/ */
  color: #06425C;
  background-color: #FFFFFF;
  overflow: auto;
  padding-left: 20px;
  background-image: url('https://bit.ly/3alZCEs');
  background-size: cover;
  background-repeat: no-repeat;
  /* position: sticky; */
  /* position: -webkit-sticky; */
  top: 0;
}
nav a {
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  color: #FFFFFF;
  background-color: grey;
  text-decoration: none;
  margin: 1% 5% 1% 0;
  padding: 1% 5%;
  border-radius: 25px;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  top: 0;
  /* text-transform: uppercase; */
}
.current {
  background-color: #800000;
}
nav a:hover {
  color: #000000;
  border-radius: 0;
}

.last {
  text-align: center;
  /* display: block; */
}
.foo {
  display: block;
  background-color: grey;
  font-size: 30px;
  font-family: 'Merriweather';
